<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic CV Parser</title>
</head>
<body>
    <h1> Enter your CV to parser the skill</h1>
    {% if msg %}
        <h3> {{ msg }}</h3>
    {% endif %}

    {% if skills %}
        <h3>Your skills are:</h3>
        <ul>
    {% for skill in skills %}
        <li>{{ skill }}</li>
    {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="resume" >
        <input type="submit" value="Upload">
    </form>
</body>
</html>